$yellow: rgb(244, 121, 34);
$yellow: rgb(22, 206, 120);
$background-gray: rgb(54, 54, 54);
$dark-blue:rgb(11, 21, 32);

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  font-family: "poppins", helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding: 20px;
  background-color: $background-gray;
}

.border-container {
  border-radius: 25px;
  background-color: white;
  background-image: url("img/background-pattern2.png");
  background-repeat: repeat;
  background-size: 20%;
}

.border-container-home {
  border-radius: 25px;
  background-color: white;
  background-image: url("img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.project-container {
  border-radius: 50px;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
  height: auto;
}

.main {
  background-color: rgb(235, 235, 235);
  width: 100;
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  //color: rgb(107, 107, 107);
  color:$background-gray;
  line-height: 1.5rem;
}

.logo {
  img {
    min-width: 50px;
  }
}

.card-image {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

span {
  img {
    width: 50%;
  }
}

.heading {
  color: $background-gray;
  font-weight: bold;
  font-family:'DM Serif Display', serif;
  letter-spacing:.13rem;
}

.hero-section {
  min-height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

#hero-text {
  text-align: center;
  color: white;
  h1 {
    font-size: 4rem;
    line-height: 95%;
    //font-family: "Bebas Neue", helvetica, sans-serif;
    font-family:'DM Serif Display', serif;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

#icons-div {
  display: flex;
  justify-content: right;
  align-items: center;

  div {
    display: inline;
    margin-right: 15px;
  }
  img {
    max-width: 30px;
  }
}

#logo {
  img {
    max-width: 30px;
  }
}

nav {
  background-color: white;
  //box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1.5px solid rgb(70, 70, 70);
  border-radius: 25px 25px 0 0;

  .container-fluid {
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

#behance {
  transform: scale(115%);
}

li {
  a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    margin-top: 10px;
  }
  a:hover {
    color: $yellow;
  }
}

.footer {
  color: rgb(138, 138, 138);
  margin: auto;
  max-width: 100;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  background-color: $background-gray;

  ul {
    padding: 0;
  }

  h2 {
    font-size: smaller;
    font-weight: bold;
    color: white;
  }
  p {
    text-align: center;
    font-size: small;
  }
  a {
    color: rgb(138, 138, 138);
    font-size: small;
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

.project-page {
  margin-bottom: 100px;
  margin-top: 100px;
  width: 100%;
  height: auto;
}

#project-photo {
  padding: 0;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

#project-text {
  h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
  }
}

.btn-secondary {
  min-width: 75px;
  max-height: 50px;
}

@media only screen and (max-width: 1100px) {
  .border-container-home {
    background-size: 250%;
  }
}

@media only screen and (max-width: 700px) {
  #navigation {
    display: flex;
    justify-content: center;
  }
  #hero-text h1 {
    font-size: 2rem;
  }
  #hero-text h2 {
    font-size: 1rem;
    margin-bottom:10px;
  }
  #logos {
    max-width: 300px;
    margin-bottom: 40px;
  }
  .background {
    padding: 10px;
  }
  .icons {
    margin-top: 60px;
  }
  #project-photo {
    width: 90vw;
    height: auto;
  }
  #hero-text {
    margin-bottom: 50px;
    margin: auto;
  }
  .hero-buttons {
    display: flex;
    justify-content: center;
    a {
      margin-left: 1rem;
    }
  }
  #cert-div {
    justify-content: center;
  }
  .border-container-home {
    background-size: 250%;
  }
}

#contact-button {
  background-color: white;
  color: $dark-blue;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
}

#contact-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transform: scale(105%);
  transition-duration: 0.2s;
}

#resume-button {
  color: white;
  border: 1px solid white;
  border: radius 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#resume-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transform: scale(105%);
  transition-duration: 0.2s;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transform: scale(105%);
  transition-duration: 0.2s;
}

.page-buttons {
  background-color: $yellow;
  width: 100;
  text-decoration-style: none;
}

.page-button {
  border-left: 5px solid white;
  text-transform: uppercase;
}

.project-button {
  background-color: $yellow;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.project-link-button {
  background-color: $background-gray;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#cert-section {
  background-color: white;
  padding: 100px 30px 100px 30px;

  #certificate {
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.card-title {
  font-weight: bold;
  color: $dark-blue;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  transform: scale(105%);
  transition-duration: 0.2s;
}

.project-grid {
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 20px;
  justify-items: center;
}

.roys-images {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  min-height: 300px;
  width: 300px;
  padding: 0px;
  object-fit: cover;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
  max-height: 80vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
